html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(32, 129, 226);
    font-family: arial, verdana, sans-serif;
  }
  
  #child{
    background-color:rgb(228, 145, 36);
  }
  
  textarea {
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding: 1em;
    border: 0;
    box-sizing: border-box;
  }